<h3 align="center">Registration Form</h3>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
    <table align="center">
        <tr>
            <td>EmpName</td>
            <td><input type="text" name="empName" ngModel /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" name="salary" /></td>
        </tr>
        <tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender" ngModel >
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>DateOfJoin</td>
            <td><input type="date" name="doj" ngModel /></td>
        </tr>
        
        <tr>
            <td>Country</td>
            <td>
                <select name="country" ngModel >
                    <option value="" selected>Select Country</option>
                    <option value="IND">INDIA</option>
                    <option value="USA">USA</option>
                    <option value="CAN">Canada</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>EmailId</td>
            <td><input type="text" name="emailId" #emailId="ngModel" ngModel required  
                pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" minlength="2" maxlength="30"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" #password="ngModel" ngModel required minlength="2" maxlength="8" 
                pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" /></td>
        </tr>
        <tr>
            <td>phonenumber</td>
            <td><input type="text" name="phonenumber" #phonenumber="ngModel" ngModel required 
                pattern="^[6-9]\d{9}$" maxlength="10" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Register</button>
            </td>
        </tr>
    </table>
</form>
<div>
    <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter Email-Id</div>
    <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
    
    <div *ngIf="emailId.errors?.['pattern'] && emailId.touched" style="color: red;">Invalid emailId format</div>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters for EmailId</div>
    <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters for Password</div>
    <div *ngIf="password.errors?.['pattern'] && password.touched" style="color: red;">Please Enter valid password with 1 special , lower , upper character and 1 digit</div>
    <div *ngIf="phonenumber.errors?.['pattern'] && phonenumber.touched" style="color: red">Please enter the number in correct format</div>
    <div *ngIf="phonenumber.errors?.['maxlength'] && phonenumber.touched" style="color: red">Please enter 10 digit</div>
</div>
