<!--
<app-test></app-test>
<app-test2></app-test2>

<app-showemployee></app-showemployee>
<app-register></app-register>
<app-login></app-login>

<app-showempbyid></app-showempbyid>
-->


<app-header></app-header>

<br/>
<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>

