<div>Id: {{id}} <br/>
Name:{{name}}<br/>
Avg:{{avg}}<br/>

<b> <u> Address</u></b><br/>
 StreetNo: {{address.StreetNo}}<br/>
 City: {{address.city}}<br/>
State: {{address.state}}<br/><br/>

<b><u> Hobbies</u></b><br/>

<ul> 
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>


</div>